<h3 class="movie__title">{{ title }}</h3>
<div class="js-movie__description movie__description">

</div>
<a href="#" class="js-movie__link" target="_blank">
    <img class="movie__thumbnail  js-movie__thumbnail" src="" alt="" />
</a>
<ul class="nav-menu">
    <li class="movie__by-kino  dropdown">
        <a  class="movies__button  dropdown__button  js-showtimes__button">by Kino<b class="caret"></b></a>
        <ul class="movie__cinemas js-movie__cinemas dropdown-menu sub-menu">
        </ul>
    </li>
    <li class="movie__by-times  dropdown">
        <a class="movies__button  dropdown__button js-showtimes__button">by showtime<b class="caret"></b></a>
        <ul class="movie__times js-movie__times  dropdown-menu sub-menu">
        </ul>
    </li>

</ul>
